@import '@/styles/mixins';

.helper {
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #000;
  white-space: nowrap;
  transform: translate(calc(-50% + 8px), calc(-100% - 8px));
  opacity: 0;
  transition: opacity .3s ease 0s;
  border-radius: 5px;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 98%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 8px solid transparent;
    border-top: 8px solid #000;
  }

  &__title {
    color: $textColorPrimary;
    font-size: 12px;
  }

  &__text {
    color: $textColorSecondary;
    font-size: 10px;
  }
}